<article>
  <div class="photo-container">
    <img
      class="listing-photo"
      [src]="location()?.photo"
      alt="Exterior photo of {{ location()?.name }}"
      crossorigin
    />
  </div>
  <section class="listing-description">
    <h2 class="listing-heading">{{ location()?.name }}</h2>
    <p class="listing-location">{{ location()?.city }}, {{ location()?.state }}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{ location()?.availableUnits }}</li>
      <li>Does this location have wifi: {{ location()?.wifi }}</li>
      <li>Does this location have laundry: {{ location()?.laundry }}</li>
    </ul>
  </section>
</article>

<section class="actions">
  <button class="nav-btn" (click)="handlePrev()" [disabled]="locationIndex <= 0">← Prev</button>

  <button class="edit-btn" (click)="handleEdit()">✏️ Edit</button>

  <button
    class="nav-btn"
    (click)="handleNext()"
    [disabled]="locationIndex >= allLocationsList.length - 1"
  >
    Next →
  </button>
</section>
<router-outlet />
