<section>
  <div class="controls-container">
    <form class="search-bar">
      <input type="text" placeholder="Filter by city" />
      <button class="primary" type="button">Search</button>
    </form>
    <button class="add-btn" (click)="handleAddLocation()">+ ADD NEW</button>
  </div>
  <section>
    <label>
      Edit Mode :
      <input
        class="checkbox"
        type="checkbox"
        (click)="handleCheck($event)"
        [checked]="mode() === 'edit'"
      />
    </label>
    <p>{{ modeString() }}</p>
    <button class="delete-btn" [disabled]="selectedIds().length === 0" (click)="onDelete()">
      Delete Selected Items ({{ selectedIds().length }})
    </button>
    <button
      class="restore-btn"
      (click)="onRestore()"
      [disabled]="locationService.getDeletedCount() === 0"
    >
      Restore Deleted Items ({{ locationService.getDeletedCount() }})
    </button>
  </section>
  <section class="results">
    @for (card of locationToDisplay(); track card.id) {
      <app-housing-location
        [location]="card"
        (locationClick)="handleClick($event)"
        [selectedLocation]="card.selected"
        [mode]="mode()"
      />
    } @empty {
      <h1>No Homes Available</h1>
    }
  </section>
</section>
<router-outlet />
